:root {
  --cjp-black: #000000;
  --cjp-white: #ffffff;
  --cjp-red: #e30613;
  --cjp-dark-grey: #1b1b1b;
  --cjp-light-grey: #aeadad;
}

* {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  text-align: center;
  padding: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav a {
  display: flex;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
  height: 100%;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

.link {
  color: var(--cjp-light-grey);
}

.link-active {
  color: var(--cjp-white);
}

.link:hover,
.icon:hover,
a:hover {
  color: var(--cjp-red);
}

.page-title {
  font-family: burnaby-stencil, sans-serif;
  font-style: normal;
}

.button:hover {
  background-color: var(--cjp-light-grey);
}

.main {
  width: 100%;
  flex-grow: 1;
}

.event-figure {
  position: relative;
  float: left;
}

.image-bar {
  color: var(--cjp-white);
  display: block;
  float: left;
  position: absolute;
  top: 0;
  padding: 8px;
  font-size: 18px;
  background-color: var(--cjp-dark-grey);
  opacity: 72%;
}

.about-image {
  border-radius: 50%;
  box-shadow: 0 0 24px 24px var(--cjp-light-grey);
  width: 60%;
}

.included-image {
  border-radius: 18px;
  border: rgba(174, 173, 173, 0.5) 8px solid;
}

.FAQlink {
  color: var(--cjp-white);
}

.review-image {
  border-radius: 50%;
  box-shadow: 0 0 8px 8px var(--cjp-light-grey);
  width: 100px;
  height: 100px;
}

.footer {
  width: 100%;
  height: 2.5rem;
}

@media screen and (max-width: 600px) {
  .nav {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .me {
    margin-left: 0;
    padding-left: 0;
  }

  .MuiGrid-item {
    padding-left: 0px;
  }
}
